.logo {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}

.container {
  padding-left: 5%;
}

div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(45, 112, 201);
}

button {
  margin: 1rem;
}
